
/* Card styles */
.card_style {
    cursor: pointer;
    transition: .3s;
  }
  
  .card_style:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  }
  
  .card_img {
    height: 16rem;
  }
  
  .card_body {
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 8px;
  }
  
  .card_body h4 {
    color: #333;
  }
  
  .card_body p {
    color: #666;
  }
  
  .button_div {
    margin-top: 10px;
    background-color: #333;
  }

  .button{
    background-color: #333;
  }
  
  /* Header styles */
  
  .gray-button {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .gray-button:hover {
    background-color: darkgray;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  

  .navbar{
    background-color: #333;
  }
  
  .navbar-nav .nav-link {
    color: greenyellow;
  }
  
  .navbar-brand {
    color: rgb(83, 82, 73);
  }
  
  /* Details Page */
  .iteamsdetails {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .items_img {
    flex: .4;
  }
  
  .items_img img {
    width: 20rem;
    border-radius: 5px;
  }
  
  .details {
    flex: .5;
  }
  
  .details p {
    margin-bottom: 10px;
  }
  
  /* Responsive styles */
  @media (max-width: 772px) {
    .iteamsdetails {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media (max-width: 450px) {
    .items_img img {
      width: 16rem;
    }
  }
  